{% extends 'base.html.twig' %}
{% block title %}Payment index{% endblock %}
{% block body %}
<div class="container">

    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>                  
 
                <th>Father</th>              
                <th>Amount</th>
                <th>ArtCours</th>                
                <th>Numpayment</th>                
                <th>Type</th>
                <th>Notes</th>
                <th>CreatedAt</th>                
            </tr>
        </thead>
        <tbody>
        {% for payment in paymentstocks %}
          {% set counter = ( counter | default(0) ) + 1 %}
          <tr>
            <th scope="row">{{counter}}</th>
                <td>{{ payment.student.fullname }}</td>                
  
                <td>{{ payment.student.father }}</td>                
                <td>{{ payment.amount }}</td>
                <td>{{ payment.artcours }}</td>                
                <td>{{ payment.numpayment }}</td>
                <td>{{ payment.type }}</td>
                <td>{{ payment.notes }}</td>
                <td>{{ payment.createdAt | date('d-m-y')}} Uhr {{ payment.createdAt | date('H:i')}}
                {% set amounttotal = amounttotal + payment.amount %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td>Total : </td>
                    <td>{{ amounttotal }}</td>
                    <td colspan="5"></td>
                </tr>
 <a href="{{path('payment_data_download')}}" class="btn btn-success">Download</a>    

        </tbody>

    </table>
{#
<div class="navigation mt-5">
    {{ knp_pagination_render(payments)}}
</div>
#}
</div>
{% endblock %}
